    body{
		
    background:url(img.png);
    background-repeat: no-repeat;
    background-size: cover;
	width:100%;height:auto;
	background-attachment: fixed;

}
 
 .user{width: 50px;height: 50px;display:inline;border-radius: 50%;}

h1{
	margin: 0px;
	text-align: center;
	font-size: 22px;
	padding: 10px 0 0 20px;
	color:#f5edec;

}

    .login-box{
	width:250px;
    height:300px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-150px 0 0 -150px;
	background-color:rgba(34,37,42,0.8);
	padding:80px 20px 50px 20px;
	text-align: center;

}

.login-box input[type="text"]
{
	border-radius: 20px;
	cursor:pointer;
	height:30px;
	border-radius:none;
	width:93%;
	padding:10px;
	border:0px;
	outline:0px;
	

}


.login-box input[type="submit"]
{
	color:#000;
	font-weight: bolder;
	border-radius: 20px;
	cursor:pointer;
	height:40px;
	outline: 0px;
	border-radius:none;
	width:100%;
	 padding: 25px 50px 25px 50px;
	 text-align: center;
	background: #e8483c;
	font-size:20px;
	line-height: 7px;
	/*transition: all 0.10s;*/
	transition: opacity 0.3s ease-in-out;

}


.login-box input[type="submit"]:hover
{
	cursor:pointer;
	background: SlateBlue;
	color:#000;
	display: inline-block;
	

}

@media screen and (min-width: 767px) {
    .login-box{width: 300px;}
    
}
